humacchina-gui {
	font-family: 'Courier New', monospace;
	font-size: 100%;
}

humacchina-gui tr.active {
	background: rgba(0, 255, 255, 0.3);
}

humacchina-gui td {
	border: 1px dotted #ccc;
	min-width: 1rem;
	min-height: 1rem;
}

humacchina-gui td.active {
	background: rgba(255, 255, 0, 0.3);
}

humacchina-gui td.empty {
	opacity: 0.5;
}
