body {
	font-size: 2rem;
}

#quneo {
	display: inline-block;
	border: 1px solid red;
}

humacchina-gui {
	display: inline-block;
}

humacchina-gui td, humacchina-gui tr {
	transition: 0.8s background;
}
