body {
	font-size: 3rem;
}

#quneo {
	display: inline-block;
	border: 1px solid red;
}

humacchina-gui {
	display: inline-block;
}

humacchina-gui table {
	width: 100%;
}

humacchina-gui table td {
	width: 12.5%;
}

humacchina-gui td, humacchina-gui tr {
	transition: 0.8s background;
}
